.espacioHeader{
    grid-area: header;
    h1{
        color: #fff;
        font-size: 2.2rem;
        font-family: 'Xanh Mono', monospace;
        text-decoration: underline;
        background-color: green;
    }
}